@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.header__logo {
  height: 40px;
  width: auto;
  display: block;
  border-radius: 0.5rem;
}

/* PLANES SECTION */
.plan {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: border 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

.plan:hover {
  border: 2px solid #e5007e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
}

.plan__title {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 10px 20px;
  border: 1px solid #e5007e;
  border-radius: 15px;
  background: rgba(245, 245, 250);
  color: #e5007e;
  font-size: 1.2rem;
  font-weight: 700;
}

.plan__title--recommend {
  background: #021a73;
  border: 1px solid #021a73;
  color: #fff;
}

.plan__type {
  font-size: 1.5rem;
  font-weight: 700;
  color: #021a73;
  margin: 15px 0 0;
}

.plan__speed-promo {
  font-size: 1.5rem;
  color: #e5007e;
}

.plan__speed-promo strong {
  font-size: 3rem;
  font-weight: 700;
}

.plan__description {
  font-size: 1rem;
  color: #000;
}

.plan__description span {
  color: #e5007e;
}

.plan__price {
  font-size: 1.5rem;
  color: #000;
  margin: 5px 0 0;
}

.plan__price-anual {
  font-size: 0.9rem;
  color: #021a73;
  margin: 20px 0 0;
}

.plan__price-regular {
  font-size: 0.8rem;
  color: #aaa;
  font-weight: 600;
  margin-bottom: 15px;
}

.plan__price strong {
  /* margin-bottom: 20px; */
  font-size: 4rem;
  color: #021a73;
  font-weight: 700;
}

/* .plan__cta-button {
  padding: 10px 0;
  background-color: #e5007e;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  display: block;
  font-size: 16px;
  transition: all 0.5s ease;
}

.plan__cta-button:hover {
  background-color: #021a73;
} */

.plan__cta-button {
  width: 100%; /* equivale al block + ocupar ancho */
  padding: 8px 0; /* py-2 */
  background-color: #e5007e; /* fondo inicial */
  color: #fff; /* texto blanco */
  border-radius: 15px; /* esquinas redondeadas */
  font-size: 16px; /* tamaño fuente */
  text-align: center; /* centra texto */
  cursor: pointer; /* cursor dedo */
  border: none; /* quita borde por defecto del button */
  transition: background-color 0.5s ease, transform 0.3s ease;
}

/* .plan__cta-button:hover {
  background-color: #021a73;
} */

.plan:hover .plan__cta-button {
  background-color: #021a73;
}

.digo-telecom-icon {
  border-radius: 10px;
}
